services:
  db:
    image: postgres:15
    container_name: postgres_test
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_TEST_NAME}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  app:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: go_test
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:yourpassword@db:5432/blog_test?sslmode=disable
    command: >
      sh -c "rm -f coverage/coverage.out && go test ./... -v -coverprofile=coverage/coverage.out -covermode=atomic"
    volumes:
      - ../coverage:/app/coverage

