name: Renew TLS certificates with Certbot
run-name: "Renew TLS certificates with Certbot (Branch: ${{ github.head_ref || github.ref_name }})"

on:
  # 毎日午前3：00に実行する(JST 03:00 = UTC 18:00)
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:
jobs:
  renew-certificates:
    runs-on: ubuntu-latest

    steps:
      - name: Renew cert on EC2
        uses: appleboy/ssh-action@v1.0.3 # 外部のサーバーへSSH接続してコマンド実行
        with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.EC2_SSH_KEY }}
            script: bash ~/BlogApi/utilitys/certbot/renew_cert.sh

  notify-slack:
    needs: [renew-certificates]
    if: always()
    uses: ./.github/workflows/slack-notification.yml
    with:
      status: ${{ needs.renew-certificates.result == 'success'  && 'success' || 'failure' }}      
      source: Certbot Renewal
      branch: ${{ github.head_ref || github.ref_name }}
      run_id: ${{ github.run_id }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
